<html>
<head>
  <title>OAuth2 Sample App - Intuit</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <!-- Datatable CSS -->
  <link href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css' rel='stylesheet' type='text/css'>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
  <!-- jQuery Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- Bootstrap CSS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>
  <!-- Datatable JS -->
  <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script>
    if(window.opener) {
      window.opener.location.href = '/connected'
      window.close()
    } 

    $(document).ready(function(){

// DataTable
var userDataTable = $('#userTable').DataTable({
   'processing': true,
   'serverSide': true,
   'serverMethod': 'get',
   'ajax': {
      'url':'user_api_call/users'
   },
   'columns': [
      { data: 'name' },
      { data: 'email' },
      { data: 'action' },
   ]
});

// Update record
$('#userTable').on('click','.updateUser',function(){
   var id = $(this).data('id');

   $('#txt_userid').val(id);

   // AJAX request
   $.ajax({
      url: 'user_api_call/users',
      type: 'post',
      data: {request: 2, id: id},
      dataType: 'json',
      success: function(response){
         if(response.status == 1){

           $('#name').val(response.data.name);
           $('#email').val(response.data.email);

           userDataTable.ajax.reload();
         }else{
           alert("Invalid ID.");
         }
      }
   });

});

// Save user 
$('#btn_save').click(function(){
   var id = $('#txt_userid').val();

   var name = $('#name').val().trim();
   var email = $('#email').val().trim();

   if(name !='' && email != ''){

     // AJAX request
     $.ajax({
       url: 'user_api_call/users',
       type: 'post',
       data: {request: 3, id: id,name: name, email: email},
       dataType: 'json',
       success: function(response){
          if(response.status == 1){
             alert(response.message);

             // Empty and reset the values
             $('#name','#email').val('');
             $('#txt_userid').val(0);

             // Reload DataTable
             userDataTable.ajax.reload();

             // Close modal
             $('#updateModal').modal('toggle');
          }else{
             alert(response.message);
          }
       }
    });

  }else{
     alert('Please fill all fields.');
  }
});

// Delete record
$('#userTable').on('click','.deleteUser',function(){
   var id = $(this).data('id');

   var deleteConfirm = confirm("Are you sure?");
   if (deleteConfirm == true) {
      // AJAX request
      $.ajax({
        url: 'user_api_call/users',
        type: 'post',
        data: {request: 4, id: id},
        success: function(response){
           if(response == 1){
              alert("Record deleted.");

              // Reload DataTable
              userDataTable.ajax.reload();
           }else{
              alert("Invalid ID.");
           }
        }
      });
   } 

});
});

    function apiCall() {
      $("#result").html('Loading...')
      $.get("/api_call/companyinfo", function(data) {
        $("#result").html(JSON.stringify(data, null, 2))
      })
    }
    function viewVendors() {
      //$("#data-table").style.display = "block";
      $("#data-table").DataTable({  
           "ajax"     : {"url": "/api_call/vendor", dataSrc:"QueryResponse.Vendor"},  
           "columns"     :     [  
                {     "data"     :     "DisplayName"     }
           ]  
      });  
    }
    function revokeCall() {
      $("#result").html('Loading...')
      $.get("/api_call/revoke", function(data) {
        $("#result").html(JSON.stringify(data, null, 2))
      })
    }
    function refreshCall() {
      $("#result").html('Loading...')
      $.get("/api_call/refresh", function(data) {
        $("#result").html(JSON.stringify(data, null, 2))
      })
    }
  </script>
</head>
<body>
  <a href="/">Home</a>
  <h3>Connected!</h3>
  <p>Welcome<% if (locals.givenName) { %>, <%= locals.givenName %><% } %>!</p>
  <p>Would you like to make a sample API call?</p>
  <div>
    <button onclick="apiCall()">QuickBooks API Call</button>
    <button onclick="viewVendors()">View Vendors</button>
    <button onclick="refreshCall()">Refresh Token Call</button>
    <button onclick="revokeCall()">Revoke Token Call</button>
    <div class="container">
      <h1>File Upload</h1>
      <form id='form'>
          <div class="input-group">
              <label for='files'>Select file:</label>
              <input id='files' type="file" multiple>
          </div>
          <button class="submit-btn" type='submit'>Upload</button>
      </form>
  </div>
  <!-- Modal -->
  <div id="updateModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Update</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button> 
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="name" >Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter name" required> 
          </div> 
        </div>
        <div class="modal-footer">
          <input type="hidden" id="txt_userid" value="0">
          <button type="button" class="btn btn-success btn-sm" id="btn_save">Save</button>
          <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
  <table id="data-table" class="table table-bordered">  
    <thead>  
         <tr>  
              <th>Display Name</th> 
         </tr>  
    </thead>  
  </table>
  <!-- Table -->
  <table id='userTable' class='display dataTable' width='100%'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
  </table> 
  <script src='./script.js'></script><s></s>
    <br><br>
    <div><code id="result"></code></div> 
</body>
</html>
